SetEnv APPLICATION_ENV development
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^booking\/([^/]+)\.html$ /index.php  [NC,L,QSA]
####### HOTELS ###########
#Countries
RewriteRule ^([^/]+)\.html$ /index.php?id=$1 [NC,L,QSA]
#citys
RewriteRule ^([^/]+)\/([^/]+)\.html$ /index.php?id=$2 [NC,L,QSA]
#tourtype
RewriteRule ^([^/]+)\/type/([^/]+)\.html$ /index.php?id=$2  [NC,L,QSA]
#tourdetail
RewriteRule ^([^/]+)\/([^/]+)/detail/([^/]+)\.html$ /index.php?id=$3  [NC,L,QSA]
#photo
RewriteRule ^([^/]+)\/([^/]+)/([^/]+)/([^/]+)\.html$ /index.php?id=$4  [NC,L,QSA]
#newsdetail
RewriteRule news/([^/]+)\.html$ /index.php?id=$1  [NC,L,QSA]

RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php [NC,L]