<routes>
	<index>
        <route>/page/:page</route>
        <defaults>
            <module>default</module>
            <controller>index</controller>
            <action>index</action> 
            <page>1</page>                     
        </defaults>
    </index>
	<state>
        <route>/state/:id/:name_plain/page/:page</route>
        <defaults>
            <module>default</module>
            <controller>state</controller>
            <action>index</action>
            <id>1</id>
            <name_plain>new-south-wales</name_plain> 
            <page>1</page>                              
        </defaults>
    </state>
	<content>
        <route>/content/:name_plain</route>
        <defaults>
            <module>default</module>
            <controller>content</controller>
            <action>index</action>
            <name_plain>terms-of-service</name_plain>
        </defaults>
    </content>
    <contact>
      <route>/buy/product/:id_product</route>
        <defaults>
            <module>default</module>
            <controller>contact</controller>
            <action>index</action>                        
        </defaults>
    </contact>
    <search>
        <route>/search/page/:page</route>
        <defaults>
            <module>default</module>
            <controller>search</controller>
            <action>index</action>            
            <page>1</page>
        </defaults>
    </search>
</routes>